<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.red_batmen.anotherwidget">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/krd_weather"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <actvity android:name=".SettingsActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"></action>
            </intent-filter>
        </actvity>

        <receiver
            android:name=".WeatherKrdWidget"
            android:icon="@drawable/krd_weather"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_metadata"></meta-data>
        </receiver>

    </application>

</manifest>
